.background-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

/* Full-screen video */
.centered-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    
}

.click-button {
    background-color: #FF4500;
    color: white;
    padding: 15px 30px; /* Same padding as Watch Trailer */
    font-size: 18px;    /* Same font size as Watch Trailer */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    margin-top: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    z-index: 2;
}

.navbar a {
    margin: 0 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* Button color */
    border-radius: 5px;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #0056b3; /* Hover effect */
}

.content {
    position: absolute;
    top: 20%; /* Adjust this value to move the content up or down */
    left: 50%; /* Adjust this value to move the content left or right */
    transform: translate(-50%, 0); /* Keep the content centered horizontally */
    text-align: center;
    z-index: 2;
    font-family: sans-serif;
    color: #0056b3;
  }

  .button-container {
    display: inline-flex;
    gap: 25px;
    margin-top: 20px;
  }

  .welcome-text {
    font-size: 36ps;
    color:blue;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.play-button {
    background-color: #FF4500;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    margin-top: 20px;
    margin-left: -20px;
}

.play-button:hover {
    background-color: #FF6347
}

